{
  "presets": ["@babel/react", "@babel/typescript", "@babel/env"],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/transform-regenerator",
    "@babel/plugin-transform-arrow-functions"
  ]
}
